@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html {
    scroll-behavior: smooth; /* scroll back to top button transition*/
}

:root {
    --yellow: rgb(255, 248, 163);
    --blue: rgb(12, 87, 153);
    --blue-trans: rgba(12, 87, 153, 0.543);
    --hor-nav-color: rgba(255, 247, 163, 0.507);
    --yellow_s: rgb(254, 155, 46);
    --safran: #ffd700;
    --safran-trans: #ffd90075;
    --white: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*::selection {
    color: #fff;
    background-color: #000;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    color: #000;
    overflow-x: hidden;
    background: linear-gradient(to bottom,
            rgba(218, 218, 218, 0.438),
            rgba(218, 218, 218, 0.438)),
        url("../images/pigier.jpg") no-repeat 50% / 500px fixed;
    position: relative;
}

.main {
    margin: 5% 0% 5% 0%;
    background-color: #fff;
}

.hidden,
.show {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    overflow: auto;
}

.hidden {
    width: 0;
    right: -1000%;
}

.show {
    width: 45%;
    right: 0;
}

.go-top {
    display: none;
    position: fixed;
    background-color: var(--blue);
    right: 30px;
    bottom: 65px;
    padding: 0.5% 1.5%;
    border-radius: 5px;
    width: 44px;
    transition: 0.1s;
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.go-top:hover {
    background: var(--safran);
}

.go-top img {
    width: 30px;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.fixed .logo {
    border: 2px solid var(--safran);
    border-radius: 100%;
}

.fixed .title {
    color: var(--blue);
    border-color: #000;
    transform: translateX(0);
}

.active {
    color: #fff !important;
    background-color: var(--blue);
}

.menu {
    position: fixed;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    padding: 45px;
    z-index: 100;
    background: linear-gradient(var(--hor-nav-color), var(--hor-nav-color)),
        url("../images/nvbar-bg.jpg") no-repeat;
    background-size: cover;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.menu img {
    width: 35px;
    position: absolute;
    right: 15%;
    top: 5%;
    z-index: 1000;
}

.header {
    z-index: 100000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 0 0 2px 2px;
    box-shadow: 1px 1px 5px #cfcfcf;
}

.header a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    position: relative;
}

.header .logo {
    display: flex;
    justify-content: center;
    z-index: 100;
    line-height: 15px;
    transition: 0.5s;
}

.header .logo:hover ~ .title {
    color: var(--blue);
    border-color: #000;
    transform: translateX(0);
}

.title {
    display: flex;
    border-left: 3px solid transparent;
    margin-left: 15px;
    padding-left: 15px;
    align-items: center;
    height: 50px;
    color: transparent;
    transition: all 0.4s ease-in-out;
    transform: translateX(-50px);
    z-index: 1;
    font-weight: 800;
}

.header .logo img {
    width: 46px;
    margin-top: 3px;
}

.menu-container {
    position: relative;
    width: 100%;
    padding-top: 50px;
}

.menu-items-link {
    padding: 10px 4rem 10px 5px;
}

.menu-items-link:hover {
    background-color: var(--blue);
    color: #fff;
}

.menu-items {
    font-size: 16px;
    margin: 5% 0;
}

.sub-menu {
    padding-top: 15px;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    display: none;
    transition: display 0.2s linear;
    margin: 0 0 0 25px;
}

.sub-menu li {
    padding: 10px 0;
    padding-left: 10px;
}

.sub-menu li:hover {
    background-color: var(--blue);
}

.sub-menu li:hover a {
    color: white;
}

.menu-items:hover .sub-menu {
    display: block;
}

i.arrow {
    margin-left: 15px;
    transition: all .3s ease;
}

.menu-items:hover .arrow {
    transform: rotate(180deg);
}

.menu-items:hover .menu-items-link {
    background-color: var(--blue);
    color: #ffffff;
}

.top-container {
    z-index: 10;
    height: 100%;
    background-image: url("../images/univ_metiers.jpg");
    background-size: cover;
    position: relative;
}

.top-container::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(225, 225, 225, 0.5667);
    z-index: -1000;
}

.text-present {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 13% 15%;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1% 0%;
}

.row:first-child {
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: 2px solid #fff;
}

ul {
    list-style: none;
}

.footer {
    background: #040404;
    position: relative;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--blue);
    height: 4px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 15px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #f3f4f4;
    text-decoration: underline;
}

.footer-col .social-links {
    display: flex;
}

.footer-col .social-links a {
    font-size: 30px;
    margin: 0% 2%;
    border-radius: 100%;
    color: #f3f4f4;
    height: 40px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    width: 41px;
    justify-content: center;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #f3f4f4;
}

.footer-info p {
    color: #f3f4f4;
    padding-left: 15px;
}

.burger-img,
.cross-img {
    cursor: pointer;
}

.burger-img img {
    width: 25px;
    height: 25px;
}

.top-container .text-present span {
    font-size: 65px;
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    font-weight: 800;
    color: rgb(12, 87, 153);
}

.top-container .text-present p {
    text-align: center;
    font-size: 16px;
    color: #000;
    letter-spacing: 1.5px;
}

.formation-container {
    transform: translate(0);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 10px;
}

section.container-box {
    min-height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: calc(40% - 10px);
    width: calc(40% - 10px);
    margin-bottom: 40px;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

.sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.5s;
    transform: translate(0);
}

.img-pres {
    overflow: hidden;
}

.img-pres img {
    transition: all 0.4s ease;
}

.img-pres img:hover {
    transform: scale(1.2);
}

.box-desc {
    background-color: #fff;
    min-height: 102px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    flex: 1 1 auto;
    justify-content: space-between;
}

.btn-circle-redirect a {
    padding: 8px 12px;
    border: 1px solid #cfcfcf;
    border-radius: 100%;
    color: #000;
    font-size: 28px;
    transition: 0.2s ease-in-out;
}

.btn-circle-redirect a:hover {
    color: #fff;
    background-color: var(--blue);
}

.formation {
    padding: 2% 0;
    text-align: center;
}

.btn-direction {
    position: absolute;
    top: 0;
    display: none;
    height: 96%;
    width: 55px;
    background: #a9a3a381;
    font-size: 30px;
    z-index: 1;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.btn-direction:hover {
    font-size: 32px;
}

.btn-direction.left {
    left: 1%;
}

.btn-direction.right {
    right: 1%;
}

video {
    width: 70%;
}

.frame {
    padding: 35px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.frame:hover button {
    visibility: visible;
}

.schools-data {
    padding: 2% 7%;
}

.schools-data .data-link-buttons {
    margin-right: 5%;
    width: 25%;
    display: flex;
    flex-direction: column;
    float: left;
}

.schools-data .data-link-buttons a {
    padding: 1% 2%;
    margin-bottom: 15px;
    color: #000;
    position: relative;
    border-bottom: 1.5px solid #33333390;
    transition: .2s;
}

.schools-data .data-link-buttons a:hover {
    color: #bbbbbb;
}

.schools-data-box {
    border-top: 4px solid var(--blue);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1%;
    min-height: 100vh;
}

.schools-data-box .box-links ul li a {
    margin: 10px 0;
    color: #000;
    display: flex;
    align-items: center;
}

.--box {
    min-height: 50vh;
}

.schools-data-box .present-img .box-info {
    background: rgba(0, 0, 0, 0.39);
    position: absolute;
    padding: .5%;
    color: #fff;
    visibility: hidden;
}

.schools-data-box .present-img img {
    width: 100%;
    height: 500px;
}

.schools-data-box .box-links ul img {
    margin-right: 10px;
}

#p,
#yo,
#y {
    display: none;
    width: 100%;
}

.frame button {
    visibility: hidden;
    border: none;
    position: absolute;
    padding: 2%;
    top: 40%;
    right: 45%;
    border-radius: 100%;
    cursor: pointer;
    background-color: #cfcfcf8d;
}

.frame button#pause {
    visibility: visible;
}

@media (max-width: 1068px) {
    .sub-container {
        flex-direction: column;
        align-items: center;
    }

    section.container-box {
        width: fit-content;
    }
}

@media (max-width: 770px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .header .menu-container {
        font-size: 12px;
    }
}

@media (max-width: 640px) {
    .formation {
        margin-right: 10%;
        margin-left: 10%;
        overflow: hidden;
    }

    .formation-container {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .sub-container {
        flex-direction: row;
        flex-wrap: nowrap;
        transform: translateX(550px);
        margin: 0;
    }

    section.container-box {
        width: 300px;
    }

    .btn-direction {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }

    .top-container .text-present span {
        font-size: 38px;
    }

    .top-container .text-present p {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .formation {
        margin: auto;
    }

    .btn-direction {
        width: 13%;
    }

    .schools-data .data-link-buttons {
        flex-direction: row;
        float: none;
    }

    video {
        height: 200px;
    }

    .frame button {
        height: 40px;
        width: 40px;
        top: 64%;
        right: 17%;
    }

    .frame button img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 300px) {
    .top-container .text-present span {
        font-size: 24px;
    }

    .top-container .text-present p {
        font-size: 10px;
    }
}